*{
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
    width: 100vw;
    min-width: 100vw;
    min-height: 100%;
}
.left{
    position: absolute;
    top: 0;
    height: 100%;
    width: 30%;
    background: rgb(243, 243, 243);
}
.nome{
    font-family: 'Poppins', sans-serif;    color: rgb(17, 14, 14);
    display: block;
    width: 70%;
    margin: 20% auto;
    text-align: center;
    font-size: 4rem;
}

.icons{
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.icons img{
    margin: 0 10px;
    width: 35px;
}
.right{
    background:#000;
    position: absolute;
    left: 30%;
    width: 70%;
    height: 100%;
}
.nav ul{
    display: flex;
    justify-content: center;
    font-size:  1rem;
    font-weight: 600;
    list-style: none;
    font-family: 'Poppins';
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.nav ul li{
    margin: 10px 15px;
    padding: 0 10px;
    font-weight:600 ;
    color: rgb(255, 255, 255);

}
.nav ul li:hover{
    cursor: pointer;
    font-weight: 1000;
    color: rgb(245, 12, 109);
}
.select{
    color: rgb(245, 12, 109) !important;
    border:1px solid rgb(245, 12, 109); ;

}
.foto img{
    width: 160px;
    height: 160px;
    border-radius: 150px;
    display: block;
    margin: 10% auto;
}
#main-right{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center ;
    font-family: 'Poppins';
}
#loading{
    width: 80px;
    position: absolute;
}
.iframe-main{
    width: 100%;
    height: 100%;
    border: 1px soldi red;
}
