*{
    margin: 0;
    padding: 0;
    font-family: "Poppins";
    max-width: 100%;
}
body{
    height: 100%;
    width: 100vw;
    min-width: 100vw;
    min-height: 100%;
    background: black;

}
.left{
    position: relative;
    position: absolute;
    top: 0;
    height: 100%;
    width: 30%;
    background: rgb(243, 243, 243);
    z-index: 100;
    transition: all 1s;
}
.left-hidden{
    transform: translateX(-99%) !important;
}

.adjustment-button{
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    background-image: url("../imagens/icons/setas.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    background-color: rgb(243, 243, 243);
    right: -27px;
    top: 20px;
    border-radius: 60px;
    z-index: 100;
    transition: all 1s;
}
.adjustment-button-hidden{
    background-image: url("../imagens/icons/setas.png") !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: 50% !important;
    right: -27px;
}
.nome{
    font-family: 'Poppins', sans-serif;    color: rgb(17, 14, 14);
    display: block;
    width: 70%;
    margin: 20% auto;
    text-align: center;
    font-size: 4rem;
}
.icons{
    position: absolute;
    bottom: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}
.icons img{
    margin: 0 10px;
    width: 35px;
}
.right{
    background:#000;
    position: absolute;
    left: 30%;
    width: 70%;
    height: 100%;
    transition: all 1.1s;
}
.right-expanded{
    width: 100% !important;
    left: 0;
    z-index: 0 !important;
}
.nav ul{
    display: flex;
    justify-content: center;
    font-size:  1rem;
    font-weight: 600;
    list-style: none;
    font-family: 'Poppins';
    text-transform: uppercase;
    color: rgb(255, 255, 255);
}
.nav ul li{
    margin: 10px 15px;
    padding: 0 10px;
    font-weight:600 ;
    color: rgb(255, 255, 255);

}
.nav ul li:hover{
    cursor: pointer;
    font-weight: 1000;
    color: rgb(245, 12, 109);
}
.nav ul li:active{
    color: rgb(245, 12, 109) !important;
    border:1px solid rgb(245, 12, 109);
}

.actived{
    color: rgb(245, 12, 109) !important;
    border:1px solid rgb(245, 12, 109);
}
.foto img{
    width: 122px;
    height: 120px;
    border-radius: 150px;
    display: block;
    margin: 10% auto;
}

#loading{
    width: 80px;
    position: absolute;
}

#main-right{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: 90%;
    width: 100%;
}
iframe{
    height:100%;
    width: 100%;
}

@media(max-width:800px){

    .left{
        position: absolute;
        width: 100%;

    }
    .right{
        position: absolute;
        top:100%;
        left: 0;
        width: 100%;
    }
    .adjustment-button{
        display: none;
    }

    .nav ul {
        display: block;
    }
    .nav ul li{
        text-align: center;
    }
}