*{margin: 0;padding: 0;box-sizing: border-box;}
body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}
img{
    opacity: 1;
    width: 200px;
    height: 200px;
    align-self: center;
    cursor: pointer;
}
body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#imgs-top{
    height: 70vh;
    width: 100%;
    margin-left: 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#imgs-bottom{
    height: 10vh;
    width: 100%;
    margin-left: 1px;
    display: flex;
    align-items: center;

    justify-content: space-around;
}
#imgs-top div,#imgs-bottom div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#imgs-top h2,#imgs-bottom h2{
    font-size: 1rem;
    font-weight: 600;
    color: rgb(245, 12, 109);
    background: #000;
    padding: 0 5px;
    border-radius: 10px;
    border: 1px dashed;
    font-family: 'Poppins';
    width:100%;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width:1000px) {
    #imgs-top{
        display: block;
        flex-direction: column;
        flex-wrap: wrap;
    }
    #imgs-bottom{
        flex-wrap: wrap;
        display:none;
    }

}
